   <a href="[% c.uri_for('/login') %]">Login</a>

 <a href="[% c.uri_for('/logout') %]">logout</a>

<form method="post" action="[% c.uri_for('form_create_do') %]">
    <table>
      <tr><td>Title:</td><td><input type="text" name="title"></td></tr>
      <tr><td>Body:</td><td><input type="text" name="text"></td></tr>
    </table>
    <input type="submit" name="Submit" value="Submit">
    </form>

    